# Data Workflow Lab 2

Proceed with your analysis of the Project 3 data set. You may need to compute new columns as you proceed. Fit one or more linear models to the data, investigate model fits and outliers, use regularization when appropriate.

### Learning objectives
- Perform exploratory analysis
- Generate correlation matrix of the features
- Generate linear regression models
- Evaluate model fit

If appropriate for your models and featuers:
- Use [feature selection](http://scikit-learn.org/stable/modules/feature_selection.html) to pick the best features
- Try different regularization options

In [1]:
% matplotlib inline

from collections import defaultdict
import datetime

from matplotlib import pyplot as plt
# Make the plots bigger
plt.rcParams['figure.figsize'] = 10, 10
import seaborn as sns

import numpy as np
import pandas as pd
from sklearn import linear_model

In [4]:
# Load the data from the previous lab
# If you changed the name you'll need to edit the next line
sales = pd.read_csv("../../assets/datasets/sales.csv")

# Convert dates
sales.head()

,Unnamed: 0,Store Number,City,2015 Sales,2015 Sales mean,County Number,Price per Liter mean,Zip Code,2015 Volume Sold (Liters),2015 Volume Sold (Liters) mean,2015 Margin mean,2015 Sales Q1,2016 Sales Q1,First Date,Last Date
0,0,2106,CEDAR FALLS,1434021.94,281.070549,7,18.846731,50613,93982.72,18.420760,93.802281,337166.53,337804.05,2015-01-08,2016-03-31
1,1,2113,GOWRIE,85763.42,63.015004,94,17.625704,50543,6500.83,4.776510,21.082425,22351.86,21736.63,2015-01-07,2016-03-30
2,2,2130,WATERLOO,1108184.99,280.624206,7,17.506599,50703,65562.88,16.602401,93.612494,277764.46,306942.27,2015-01-08,2016-03-31
3,3,2152,ROCKWELL,72080.36,50.230216,17,13.043590,50469,6164.92,4.296111,16.824704,16805.11,9307.75,2015-01-08,2016-02-25
4,4,2178,WAUKON,277987.96,104.389020,3,16.594438,52172,21719.49,8.156023,35.011457,54411.42,58939.90,2015-01-07,2016-03-30

## Exploratory Analysis
Make some plots, look at correlations, etc.

In [ ]:
# Compute correlations

In [ ]:
# Perform some exploratory analysis, make a few plots

In [ ]:
# Fit a linear model

# Plot the data and the best fit line

# Compute the model fit

In [ ]:
# Predict Total 2016 sales, compare to 2015

In [ ]:
# Try per zip code or city to get better resolution

In [ ]:
# Filter out stores that opened or closed throughout the year
# If this wasn't done already

In [ ]:
# Fit another model

# Compute the model fit

In [ ]:
# Predict Total 2016 sales, compare to 2015