# 5.2 Lab: practice

Practice visualizing datasets in python or Tableau. This notebook is for python specifically.

### Load required packages

In [12]:
# Numeric and statistics packages:
import numpy as np
import scipy.stats as stats

# Pandas handles dataset loading and manipulation:
import pandas as pd

# import the plotting functions:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

# Initialize plotly notebook mode:
plotly.offline.init_notebook_mode()

# Setup matplotlib to display in notebook:
%matplotlib inline

## Load datasets with pandas

The datasets are in the assets/datasets folder. They are:

```
salary.csv
sales_info.csv
```
    
We have used these before. You should also load up the dataset we use in Project 1! Finding the path is up to you for these datasets for practice.

The pandas pattern for loading datasets is:

```python
salary = pd.read_csv({salary_csv_path})
```

You may want to rename the columns, especially for salary. The pattern for this would be:

```python
salary.columns = ['gender', 'professor_rank', 'years_in_job', 
                  'degree_level', 'years_since_degree', 'yearly_salary']
```
    
Which essentialy sets the columns to a list of strings. Pandas is pretty nice!

Use the ```.head()``` command on each DataFrame object to make sure that it looks ok.

Some plotting functions take arrays or lists, others take pandas DataFrame objects. It's up to you to look this up in the documentation to practice reading documentation for info on plotting. Getting arrays for columns out of a pandas DataFrame is:

```python
gender = salary.gender.values
```

As you can see, columns are also referenced easily with the .column syntax. They can also be accessed like:

```python
gender = salary[['gender']].values
```

## seaborn documentation

I highly recommend looking at the gallery section for examples!

- The website: https://stanford.edu/~mwaskom/software/seaborn/
- Check out the gallery of examples: https://stanford.edu/~mwaskom/software/seaborn/examples/index.html
- The API documentation has full info: https://stanford.edu/~mwaskom/software/seaborn/api.html

### 1. Load in your datasets with pandas and examine them.

In [14]:
max_temps = pd.read_csv('../assets/ddc_nav.csv')

max_temps.head()

,AXES,-0.25,0.25,0.75,1.25,1.75,2.25,2.75,3.25,3.75,...,25.25,25.75,26.25,26.75,27.25,27.75,28.25,28.75,29.25,29.75
0,29.75,18.34,18.69,18.48,18.04,17.77,17.87,17.86,18.55,18.80,...,19.00,18.76,18.70,19.60,19.73,19.55,19.33,19.11,18.54,18.45
1,29.25,19.08,19.33,19.05,18.62,18.29,17.87,17.79,18.98,19.10,...,19.41,19.59,19.45,19.99,19.97,19.86,19.53,19.15,18.66,18.47
2,28.75,20.11,19.72,19.19,18.75,18.28,17.91,17.90,18.39,18.53,...,19.51,19.35,19.58,19.78,19.78,19.53,19.20,19.16,19.16,19.57
3,28.25,20.46,20.08,19.62,19.17,18.35,18.24,18.20,18.43,18.70,...,19.66,19.56,19.44,19.39,19.57,19.63,19.33,19.10,19.23,19.74
4,27.75,21.11,20.71,20.20,19.80,19.17,19.44,19.73,19.45,19.19,...,19.86,19.72,19.74,19.71,19.38,19.30,19.50,19.40,19.61,19.73

### 2. Use a seaborn .pairplot() on variables from two of your three datasets.

### Use a seaborn .jointplot() on variables from two of your three datasets.

### 3. Use a new seaborn function to plot variables from two of your three datasets.

## plotly

Check out the plotly documentation and look back on the code I wrote for a guide to the syntax. Don't worry if plotly isn't intuitive at first. It takes practice.

- website: https://plot.ly/
- documentation and examples for plotting in python: https://plot.ly/python/

### 4. Use a plotly scatterplot to plot variables from two of your three datasets.

### 5. [Optional] Try a new plotly function to plot variables from one of your datasets.

## Tableau

We didn't cover Tableau in the lesson, but you've seen it yesterday and you looked at the tutorials online. 

Load the datasets into Tableau.

## 6. Use Tableau to make a plot type of your choice for each of your datasets.